<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css">
    <link rel="stylesheet" href="../public/main.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="./home.html">Home</a>
                <a href="./store.html">Store</a>
                <a href="./about.html">About</a>
            </nav>
        </header>
    

        <div class="header-div">
            <ul>
                <li><h1>The Generics</h1></li>
                <li><button>Get our Latest Album</button></li>
                <li class="play-btn"><i>play button</i></li>
            </ul>
            
            
            
        </div>

        <div class="tours">
            <h1>TOURS</h1>
            <div class="tour-details">
                <span class="tour-date">JUL 16</span>
                <span class="tour-place">DETROIT, MI</span>
                <span class="tour-stadium">DTE ENERGY MUSIC THEATRE</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>

            <div class="tour-details">
                <span class="tour-date">JUL 19</span>
                <span class="tour-place"> TORONTO,ON</span>
                <span class="tour-stadium">BUDWEISER STAGE</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>

            <div class="tour-details">
                <span class="tour-date">JUL 22</span>
                <span class="tour-place">BRISTOW, VA</span>
                <span class="tour-stadium"> JIGGY LUBE LIVE</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>

            <div class="tour-details">
                <span class="tour-date">JUL 29</span>
                <span class="tour-place"> PHOENIX, AZ</span>
                <span class="tour-stadium"> AK-CHIN PAVILION</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>

            <div class="tour-details">
                <span class="tour-date">AUG 2</span>
                <span class="tour-place">LAS VEGAS, NV</span>
                <span class="tour-stadium"> T-MOBILE ARENA</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>
            
            <div class="tour-details">
                <span class="tour-date">AUG 7</span>
                <span class="tour-place"> CONCORD, CA</span>
                <span class="tour-stadium"> CONCORD PAVILION</span>
                <button class="buy-tickets-btn">Buy Tickets</button>
            </div>

        </div>

        <footer>
            <h1> The Generics</h1>
            
            <div class="footer-links">
                <a href="">yt</a>
                <a href="">spotify</a>
                <a href="">twitter</a>
            </div>
        </footer>
</div>
</body>

<script src="../js/script.js"></script>

</html>