<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public//order.css">

    <title>E-Commerce Project</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="home.html">Home</a></li>
                <li class="main-header__item"><a href="store.html">Store</a></li>
                <li class="main-header__item"><a href="aboutus.html">About Us</a></li>
                <li class="main-header__item"><a href="order.html">Order</a></li>

            </ul>
        </nav>
    </header>
    <div class="header-div">
        <h1>The Generics</h1>
    </div>
    <section id="order-page" class="orderPage">
       
    </section>
    
       



        <footer class="bottom-footer">
            <nav class="bottom-footer__nav">
                <div class="footer-div">
                    <h1>The Generics</h1>
                </div>
                <ul class="bottom-footer__item-list">
                    <li class="bottom-header__item"><a href="https://www.youtube.com" target="_blank"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png"
                                alt="Youtube"></a></li>
                    <li class="bottom-header__item"><a href="https://open.spotify.com/" target="_blank"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/991px-Spotify_icon.svg.png"
                                alt="Spotify"></a></li>
                    <li class="bottom-header__item"><a href="https://www.facebook.com/" target="_blank"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png"
                                alt="Facebook"></a></li>
                </ul>
            </nav>
        </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0/axios.min.js"></script>
<script src="../js/order.js"></script>

</html>