*{
    margin: 0;
    padding: 0;
}

.about-heading {
    text-align: center;
    font-size: 150%;
    margin-top: 2.5%;
}
.about {
    display: flex;
    margin-top: 1%;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about img {
    margin-left: 10%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.about p {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 10%;
    text-align: left;
}