.cart {
    display: none;
    height: 600px;
    width: 35%;
    background-color: white;
    /* float: right; */
    font-size: 150%;
    position: fixed;
    /* left: 64%; */
    right: 1px;
    top: 6%;
    color: black;
    border: 1px solid white;
    border-radius: 3px;
    border-color: red;
    
        
}

.close {
    float: right;
    height: 25px;
    width: 25px;
    margin-right: 5%;
    margin-top: 5%;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    font-size: larger;
}

.cart h2 {
    text-align: center;
    margin-top: 5%;
    
}



.cart-heading {
    display: flex;
    margin-top: 15px;
}
.cart-heading hr {
    margin-top: 7px;
}
.items-h {
    width: 30%;
    margin-left: 30px;
    margin-right: 40px;
}
.price-h {
    width: 20%;
    margin-right: 40px;
}
.quantity-h {
    width: 40%;
    margin-right: 40px;
}

.cart-list {
    display: flex;
    flex-direction: column;
     
}
.cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    
    
}
.item-container img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.price-container {
    margin-left: 40px;
    font-size: large;
    font-weight: bold;

}

.quantity-container {
    margin-left: 60px;
    
}
.quantity-container input {
    height: 25px;
    width: 30px;
}

.quantity-container button {
    height: 30px;
    width: 80px;
    margin-left: 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}
.line {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    margin-top: 10px;
}





.totalPrice {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 90%;

}

.purchase-btn {
    text-align: center;
    margin-top: 15%;


}
.purchase {
 height: 45px;
 width: 150px;
 background-color: skyblue;
 color: white;
 font-size: large;
 font-weight: bolder;
 border-radius: 5px;
 border: none;
 cursor: pointer;

 
}